{% extends 'base.html.twig' %}
{% block title 'Gerer les biens' %}
{% block body %}
    <div class="container mt-4">
        <h2>Editer le bien</h2> 
        {{ include ('admin/articles/_form.html.twig',{form: form, button: 'editer'}) }}
    </div>
{% endblock %}
