{% extends 'base.html.twig' %}
{% block title 'Gerer les biens' %}
{% block body %}
    <div class="container mt-4">
        <h2> Cree un nouveau bien</h2>
        {{ include ('journaliste/articles/_form.html.twig',{form: form, button: 'editer'}) }}
    </div>
{% endblock %}
